body
{
    font-family: georgia;
    background-color: #999;
}

#page-wrap
{
    width: 700px;
    margin: 30px auto 0 auto;
    background-color: #fff;
}

#content
{
    width: 65%;
    margin-right: 20px;
    padding-right: 20px;
    border-right: 1px solid #333;
    float: left;
    padding: 20px;
}

#sidebar
{
    padding: 20px;
    width: 20%;
    float: left;
}

#footer
{
    text-align: center;
    background-color: #333;
    font-family: verdana;
    color: #fff;
    padding: 20px;
}

.clear
{
    clear: both;
}

.kotak
{
        width: 80px;
        height: 100px;
        margin-top: 0px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-left: 0px;
        float: left;
        position: relative;
        cursor: pointer;
}
.kotak img
{
        border: 1px solid white;
        position: relative;
}

.bg-kiri
{
    position: absolute;
    bottom: 100px;
    left: 70px;
    z-index: -1;
}

.bg-kiri img
{
    width: 350px;
}

.bg-kanan
{
    position: absolute;
    bottom: 5px;
    right: 50px;
}

.bg-kanan img
{
    width: 300px;
}

@font-face
{
    font-family: "ActionMan";
    src: url(action_man/Action\ Man.ttf) format("truetype");
    font-weight: normal;
    font-style: normal;
}

#content h1
{
    font-family: ActionMan, arial;
    font-size: 50px;
    margin: 5px 0;
}

.kotak p
{
    position: absolute;
    top: 10%;
    left: 5%;
    opacity: 0;
    transition: 0.9s;
    font-weight: bold;
    padding: 3px;
}

.kotak:hover p
{
    color: #fff;
    opacity: 1;
    font-weight: bold;
    background-color: rgba(0, 0, 0, 3);
    padding: 3px;
}